.activityContainer {
  display: flex;
  justify-content: center;
}

.activity {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 900px;
}

.activityImage {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  padding-right: 15px;
  flex: 5;
}

.activityDetails {
  font-family: system-ui;
  padding-left: 15px;
  flex: 7;
}

.activityName h1 {
  margin-top: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0;
}
